<a href="https://colab.research.google.com/github/Mayuri-thatikonda/tripadvisor_review/blob/main/tripadvisor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('tripadvisor_review.csv') 
data.tail()

      User ID  Category 1  Category 2  ...  Category 8  Category 9  Category 10
975  User 976        0.74        1.12  ...        2.78        0.99         3.20
976  User 977        1.25        0.92  ...        2.79        1.34         2.80
977  User 978        0.61        1.32  ...        2.81        1.34         3.02
978  User 979        0.93        0.20  ...        2.98        1.12         2.46
979  User 980        0.93        0.56  ...        2.87        1.34         2.40

[5 rows x 11 columns]

In [3]:
data.rename(columns={'Category 1': 'art galleries', 'Category 2': 'dance clubs','Category 3': ' juice bars','Category 4':'restaurants','Category 5': 'museums','Category 6':'resorts','Category 7':' parks/picnic spots','Category 8':'beaches','Category 9':'theaters','Category 10':'religious institutions'},inplace=True)
data.head()

  User ID  art galleries  ...  theaters  religious institutions
0  User 1           0.93  ...      1.82                    2.42
1  User 2           1.02  ...      1.86                    2.32
2  User 3           1.22  ...      1.31                    2.50
3  User 4           0.45  ...      1.57                    2.86
4  User 5           0.51  ...      1.18                    2.54

[5 rows x 11 columns]

In [4]:
data.drop(['User ID'],axis=1,inplace=True)
data.head()

   art galleries  dance clubs  ...  theaters  religious institutions
0           0.93          1.8  ...      1.82                    2.42
1           1.02          2.2  ...      1.86                    2.32
2           1.22          0.8  ...      1.31                    2.50
3           0.45          1.8  ...      1.57                    2.86
4           0.51          1.2  ...      1.18                    2.54

[5 rows x 10 columns]

In [5]:
data.isnull().sum()

art galleries             0
dance clubs               0
 juice bars               0
restaurants               0
museums                   0
resorts                   0
 parks/picnic spots       0
beaches                   0
theaters                  0
religious institutions    0
dtype: int64

In [6]:
data['average'] = data.mean(axis=1)

In [7]:
data['average']

0      1.908
1      2.114
2      1.466
3      1.566
4      1.670
       ...
975    1.509
976    1.624
977    1.645
978    1.213
979    1.662
Name: average, Length: 980, dtype: float64

In [8]:
data['average'].max()

2.225

In [9]:
data['average'].min()

1.2130000000000003

In [10]:
conditions = [
    (data['average'] >= 1.1) & (data['average'] <= 1.7),
    (data['average'] >= 1.7) ,
    ]

values = ['0', '1']

data['review'] = np.select(conditions, values)

data.tail()

     art galleries  dance clubs  ...  average  review
975           0.74         1.12  ...    1.509       0
976           1.25         0.92  ...    1.624       0
977           0.61         1.32  ...    1.645       0
978           0.93         0.20  ...    1.213       0
979           0.93         0.56  ...    1.662       0

[5 rows x 12 columns]

In [11]:
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [15]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']]

In [16]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[128   5]
 [  3 109]]

0.9673469387755103

In [17]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
y_pred = classifier.predict(X_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['1' '1']
 ['1' '1']
 ['0' '0']
 ['0' '0']
 ['0' '0']]

In [19]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[130   3]
 [  0 112]]

0.9877551020408163